.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Chave privada SSH - so a publica (k3s_ec2_key.pub) e versionada
k3s_ec2_key
